/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #9ad79b;
}

header {
  top: 0;
  border-style: dashed;
  border-width: 1px;
  background-color: black;
  width: 100%;
  padding: 7px;
  padding-top: 3px;
  z-index: 1;
}

h1 {
  font-size: 26px;
}

.content {
  border-style: dashed;
  border-width: 1px;
  margin-top: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-top: 14px;
}

.content > h2 {
  font-size: 19px;
}

.content > p {
  position: relative;
  bottom: 3px;
  font-size: 13px;
}

.content > button {
  position: relative;
  bottom: 8px;
  font-size: 10.5px;
}

.sidebar {
  border-style: dashed;
  border-width: 1px;
  padding-top: 15px;
  padding-left: 3px;
  margin-left: 92%;
  margin-right: 10px;
  margin-top: 18px;
}

.sidebar > h3 {
  font-size: 15px;
  margin-left: 3px;
}

.sidebar ul li {
  position: relative;
  left: 5px;
  bottom: 2px;
  font-size: 13px;
  margin-right: 60px;
}

.features {
  border-style: dashed;
  border-width: 1px;
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
}

.features > h2 {
  margin-top: 14px;
  margin-left: 5px;
  font-size: 18.8px;
  position: relative;
  bottom: 9px;
}

.feature > p {
  bottom: 10.8px;
  font-size: 12.5px;
}

.feature > span {
  position: relative;
  left: 8px;
  bottom: 9px;
  font-size: 15px;
}

.feature > button {
  position: relative;
  bottom: 15.5px;
  left: 8px;
  font-size: 10px;
}

footer {
  width: 100%;
  border-style: dashed;
  border-width: 1px;
  position: sticky;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 13px;
  margin-top: 180px;
}

footer > p {
  font-size: 13px;
}
